* {
    font-family: monospace;
}

body {
    background-image: url("../background.jpg");
    background-size: 100%;
}

.ujblogo img {
    position: absolute;
    max-width: 7%;
    top: 30px;
    left: 40px;
}

h1 {
    position: absolute;
    font-size: 50px;
    left: 75vh;
    top: 1vh;
}

p {
    position: absolute;
    font-size: 30px;
    top: 40vh;
    left: 49vh;
}

.homebutton {
    position: absolute;
    padding: 10px 10px;
    background-color: white;
    border-radius: 5px;
    top: 5vh;
    left: 180vh;
}

.homebutton a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.homebutton:hover {
    background-color: wheat;
}

.contactusbutton {
    position: absolute;
    padding: 10px 10px;
    background-color: white;
    border-radius: 5px;
    top: 5vh;
    left: 164vh;
}

.contactusbutton a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.contactusbutton:hover {
    background-color: wheat;
}

.termsofservicebutton {
    position: absolute;
    padding: 10px 10px;
    background-color: white;
    border-radius: 5px;
    top: 5vh;
    left: 142.8vh;
}

.termsofservicebutton a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.termsofservicebutton:hover {
    background-color: wheat;
}